.responsive-details {
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: auto;
  margin-bottom: 5rem;
  padding: 0rem 2rem;
  height: 240px;
  width: 100%; 
  max-width: 1200px;
}

/* Small screens */
@media (max-width: 570px) {
  form {
    flex-direction: column;
  }
  .responsive-details {
    height: 300px !important;
    width: 400px !important;
  }
}

/* Medium screens */
@media (max-width: 1200px) {
  .responsive-details {
    height: 340px;
    width: 600px;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .responsive-details {
    width: 1200px;
  }
}
